/**
 * @format
 * @Author: huweijian
 * @Date: 2020-02-09 15:29:10
 * @Desc: 颜色变量定义文件
 */
$main-color: #a76a78;
$shadow-color: #eee;

$primary-color: #2196f3;
$info-color: #64b5f6;
$success-color: #4caf50;
$warning-color: #f57c00;
$error-color: #ff5252;
$cyan-color: #0097a7;
